<head>
  <meta charset="utf-8">
  {% if page.title %}
  {% assign title = page.title %}
  {% else %}
  {% assign title = layout.title %}
  {% endif %}
  {% if page.decription %}
  {% assign description = page.description %}
  {% else %}
  {% assign description = layout.description %}
  {% endif %}
  {% if page.decription %}
  {% assign tags = page.tags %}
  {% else %}
  {% assign tags = layout.tags %}
  {% endif %}
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />
  <meta name="keywords" content="{{ tags | join: ', ' }}" />
  <meta name="author" content="Muhammad Naqvi">
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>

  <!-- Mobile meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="{{ title }}">
  <meta itemprop="description" content="{{ description }}">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="product">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <!-- <meta name="twitter:image" content="THUMBNAIL PIC HERE"> -->

  <!-- Open Graph data -->
  <meta property="og:page_name" content="{{ title }}" />
  <meta property="og:title" content="{{ description }}" />

  <!-- Fonts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

  <!-- CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css">
  {% assign title = nil %}
  {% assign description = nil %}
  {% assign tags = nil %}


  {% if page.css %}
  {% assign custom_css = page.css %}
  {% else %}
  {% assign custom_css = layout.css %}
  {% endif %}
  <link rel="stylesheet" href="{{ custom_css }}">
  {% assign custom_css = nil %}
</head>