<head>
  <meta charset="utf-8">

  <title>Mo Naqvi</title>
  <meta name="description" content="I came here to drink milk and code, and I just finished my milk." />
  <meta name="keywords" content="freelancer developer human" />
  <meta name="author" content="Muhammad Naqvi">
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>

  <!-- Mobile meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="Mo Naqvi">
  <meta itemprop="description" content="Developer | Freelancer | Human">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="product">
  <meta name="twitter:title" content="Mo Naqvi">
  <meta name="twitter:description" content="Developer | Freelancer | Human">
  <!-- <meta name="twitter:image" content="THUMBNAIL PIC HERE"> -->

  <!-- Open Graph data -->
  <meta property="og:title" content="Developer | Freelancer | Human" />
  <meta property="og:site_name" content="Mo Naqvi" />

  <!-- Fonts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

  <!-- CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css">
  <link rel="stylesheet" href="/assets/blog/css/style.css">
</head>