---
layout: blog
title: Categories
---
<section>
  <h1 class="content-subhead">Categories</h1>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="tabordion">
        {% assign categories_list = site.categories %}
        {% if categories_list.first[0] == null %}
          {% for category in categories_list %}
          <section>
            <input type="radio" name="sections" id="{{ category }}" checked>
            <label class="pure-u-sm-1-4" for="{{ category }}">{{ category  | capitalize }}<span>{{ site.categories[category].size }}</span></label>
            <article class="pure-u-sm-3-4">
              <h2>John Lennon</h2>
              <p>John Ono Lennon, (born John Winston Lennon; 9 October 1940 – 8 December 1980), was an English musician, singer and songwriter who rose to worldwide fame as a founder member of the rock band the Beatles, the most commercially successful band in the history of popular music. With Paul McCartney, he formed a songwriting partnership that is one of the most celebrated of the 20th century.</p>
              <p>Born and raised in Liverpool, as a teenager Lennon became involved in the skiffle craze; his first band, the Quarrymen, evolved into the Beatles in 1960. When the group disbanded in 1970, Lennon embarked on a solo career that produced the critically acclaimed albums John Lennon/Plastic Ono Band and Imagine, and iconic songs such as "Give Peace a Chance" and "Working Class Hero". After his marriage to Yoko Ono in 1969, he changed his name to John Ono Lennon. Lennon disengaged himself from the music business in 1975 to raise his infant son Sean, but re-emerged with Ono in 1980 with the new album Double Fantasy. He was murdered three weeks after its release.</p>
            </article>
          </section>
          {% endfor %}
        {% else %}
          {% for category in categories_list %}
          <section>
            <input type="radio" name="sections" id="{{ category[0] | replace:' ','-' }}" checked>
            <label class="pure-u-sm-1-4" for="{{ category[0] | replace:' ','-' }}">{{ category[0] | capitalize }} <span>{{ category[1].size }}</span></label>
            <article class="pure-u-sm-3-4">
              <h2>John Lennon</h2>
              <p>John Ono Lennon, (born John Winston Lennon; 9 October 1940 – 8 December 1980), was an English musician, singer and songwriter who rose to worldwide fame as a founder member of the rock band the Beatles, the most commercially successful band in the history of popular music. With Paul McCartney, he formed a songwriting partnership that is one of the most celebrated of the 20th century.</p>
              <p>Born and raised in Liverpool, as a teenager Lennon became involved in the skiffle craze; his first band, the Quarrymen, evolved into the Beatles in 1960. When the group disbanded in 1970, Lennon embarked on a solo career that produced the critically acclaimed albums John Lennon/Plastic Ono Band and Imagine, and iconic songs such as "Give Peace a Chance" and "Working Class Hero". After his marriage to Yoko Ono in 1969, he changed his name to John Ono Lennon. Lennon disengaged himself from the music business in 1975 to raise his infant son Sean, but re-emerged with Ono in 1980 with the new album Double Fantasy. He was murdered three weeks after its release.</p>
            </article>
          </section>
          {% endfor %}
        {% endif %}
        {% assign categories_list = nil %}
      </div>
    </div>
<!-- Tab panes -->
    <div class="pure-u-1">
      {% for category in site.categories %}
        <div id="{{ category[0] | replace:' ','-' }}-ref">
          <h2>Posts in {{ category[0] | capitalize }}</h2>
          <ul>
            {% assign pages_list = category[1] %}
            {% for node in pages_list %}
              {% if node.title != null %}
                {% if group == null or group == node.group %}
                  <li><a href="{{ site.BASE_PATH }}{{node.url}}">{{node.title}}</a> <span>- {{ node.date | date: "%B %d, %Y" }}</span></li>
                {% endif %}
              {% endif %}
            {% endfor %}
            {% assign pages_list = nil %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
</section>