---
layout: blog
title: Tags
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}
<section>
  <h1 class="content-subhead">Tags</h1>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="tabordion">
      {% for item in (0..site.tags.size) %}
        {% unless forloop.last %}
        {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
        <div>
          <input type="radio" name="sections" id="{{ this_word }}">
          <label for="{{ this_word }}">{{ this_word  | capitalize }} <span>({{ site.tags[this_word].size }})</span></label>
          <article>
            <!-- <h2 class="post-title post-no-top-margin">Posts in {{ this_word | capitalize }}</h2> -->
            <ul class="posts-list">
            {% for node in site.tags[this_word] %}
              {% if node.title != null %}
                <li><a href="{{ site.BASE_PATH }}{{node.url}}">{{node.title}}</a> <span>- {{ node.date | date: "%B %d, %Y" }}</span></li>
              {% endif %}
            {% endfor %}
            </ul>
          </article>
        </div>
        {% endunless %}
      {% endfor %}
      </div>
    </div>
  </div>
</section>