---
layout: default
description: My notes and scribbles
tags: [developer, businessman, human]
css: /assets/blog/css/style.css
---
<nav class="sidebar pure-u-1 pure-u-md-1-4">
  <div class="header">
    <h1 class="brand-title">Some notes</h1>
    <h2 class="brand-tagline">
      <span class="avoidwrap">that I thought</span>
      <span class="avoidwrap">were noteworthy</span>
    </h2>
    <nav class="nav">
      <ul class="nav-list">
        <span class="avoidwrap">
          <li class="nav-item">
            <a class="pure-button" href="/notes/categories">Categories</a>
          </li>
          <li class="nav-item">
            <a class="pure-button" href="/notes/tags">Tags</a>
          </li>
        </span>
        <span>
          <li class="nav-item">
            <a class="pure-button" href="/notes/">Notes</a>
          </li>
          <li class="nav-item">
            <a class="pure-button" href="/">Home</a>
          </li>
        </span>
      </ul>
    </nav>
  </div>
</nav>
<main class="content pure-u-1 pure-u-md-3-4">
  <div>
    <!-- A wrapper for all the content -->
    {{ content }}
  </div>
  <footer class="pure-menu pure-menu-horizontal footer">
    <a href="https://github.com/monaqvi/monaqvi.github.io/tree/master/_posts">
    This blog is open-source on GitHub!
    </a>
  </footer>
</main>
<script id="dsq-count-scr" src="//monaqvi.disqus.com/count.js" async></script>