---
layout: default
title: Blog
description: My blog
css: [/assets/blog/css/style.css]
---
<nav class="sidebar pure-u-1 pure-u-md-1-4">
  <div class="header">
    <h1 class="brand-title">{{ site.name }}'s Blog</h1>
    <nav class="nav">
      <ul class="nav-list">
        <span class="avoidwrap">
          <li class="nav-item">
            <a class="pure-button" href="/blog/categories">Categories</a>
          </li>
          <li class="nav-item">
            <a class="pure-button" href="/blog/tags">Tags</a>
          </li>
        </span>
        <span class="avoidwrap">
          <li class="nav-item">
            <a class="pure-button" href="/blog/">Blog</a>
          </li>
          <li class="nav-item">
            <a class="pure-button" href="/">Home</a>
          </li>
        </span>
      </ul>
    </nav>
  </div>
</nav>
<main class="content pure-u-1 pure-u-md-3-4">
  <div>
    <!-- A wrapper for all the content -->
    {{ content }}
  </div>
  <footer class="pure-menu pure-menu-horizontal footer">
    <a href="https://{{ site.github.owner_name }}.github.io/blog/atom.xml">RSS</a>
    <a> | </a>
    <a href="https://github.com/{{ site.github.owner_name }}/{{ site.github.owner_name }}.github.io/tree/master/{{ page.path }}">This blog is open-source on GitHub!</a>
  </footer>
</main>
<script id="dsq-count-scr" src="https://bobloblaw.disqus.com/count.js" async></script>
