---
layout: blog
---
<div>
  <div>
    <h1 class="post-title">{{ page.title }}</h1>
    <h3 class="post-subheader post-no-top-margin">{{ page.description }}</h3>
    <h3 class="content-subhead post-no-top-margin">
      <info datetime="{{ page.date }}">
        {{ page.date | date_to_string }}
      </info>
    </h3>
    <!-- Post content -->
    <div>
      {{ content }}
    </div>
    <!-- Post info -->
    <div>
      <!-- Categories-->
      <p>
      <i class="fa fa-folder-open" aria-hidden="true"></i>
      {% unless page.categories == empty %}
        {% assign categories_list = page.categories %}
        {% if categories_list.first[0] == null %}
        {% for category in categories_list %} 
          <a href="/notes/categories#{{ category }}-ref">
            {{ category | join: "/" }} <span>({{ site.categories[category].size }})</span>
            {% unless forloop.last %},{% endunless %}
          </a>
        {% endfor %}
        {% else %}
        {% for category in categories_list %} 
          <a href="/notes/categories#{{ category[0] }}-ref">
            {{ category[0] | join: "/" }} <span>/{{ category[1].size }})</span>
          </a>
        {% endfor %}
        {% endif %}
      {% endunless %}
      </p>

      <!-- Tags -->
      <p>
      <i class="fa fa-tags" aria-hidden="true"></i>
      {% unless page.tags == empty %}
        {% assign tags_list = page.tags %}
        {% if tags_list.first[0] == null %}
        {% for tag in tags_list %} 
          <a href="/notes/tags#{{ tag }}-ref">
          {{ tag }} <span>({{ site.tags[tag].size }})</span>
          {% unless forloop.last %},{% endunless %}
          </a>
        {% endfor %}
        {% else %}
        {% for tag in tags_list %} 
          <a href="/notes/tags#{{ tag[0] }}-ref">
            {{ tag[0] }} <span>({{ tag[1].size }})</span>
            {% unless forloop.last %},{% endunless %}
          </a>
        {% endfor %}
        {% endif %}
        {% assign tags_list = nil %}
      {% endunless %}
      </p>
    </div>

    <!-- Post comments -->
    <div>
      {% include disqus.html %}  
    </div>
  </div>
</div>